extends layout

block content
  h1= title
  p Welcome to Tejaswini  #{title}
  p Search Results furniture 
  .container-fluid 
    .row
      -let result = results
      each item, index in result
        .col-sm-2(onclick=`buy(${index})`) 
          p #{item.itemName}
          p #{item.quantity}
          p #{item.cost}
  script.
    function buy(index) {
      alert(`You purchased item ${index}`);
    }
 