extends layout
 
block content
  h1=title
  - let items = results
 
  div(class="container-fluid")
    // Create button at the top
    div(class="row-sm-2 m-1")
      button.btn(class="btn btn-success", onclick="dispatch('/furniture/create')") Create
 
    each item in items
      - let updateDestination = `/furniture/update?id=${item._id}`
      - let detailDestination = `/furniture/detail?id=${item._id}`
      - let deleteDestination = `/furniture/delete?id=${item._id}`
 
      div(class="row-sm-2 m-1") furniture #{item.itemName}(#{item.quantity}) is #{item.cost}
     
      // Update button
      button.btn(class="btn btn-warning", onclick=`dispatch("${updateDestination}")`) Update
 
      // Detail button
      button.btn(class="btn btn-info", onclick=`dispatch("${detailDestination}")`) Detail
 
      // Delete button
      button.btn(class="btn btn-danger", onclick=`dispatch("${deleteDestination}")`) Delete
 
  script.
    function dispatch(path) {
      window.location.href = path;
    }
 