extends layout

block content
  h1= title
  p Welcome to Tejaswini  #{title}
  p Search Results furniture 
  .container-fluid 
    .row
      -const results = [{ itemName: 'Chair', quantity: 5, cost: 50  },{ itemName: 'Table', quantity: 2, cost: 120 },{ itemName: 'cot',   quantity: 1, cost:150  }]
      each item, index in results
        .col-sm-2(onclick=`buy(${index})`) 
          p #{item.itemName}
          p #{item.quantity}
          p #{item.cost}
  script.
    function buy(index) {
      alert(`You purchased item ${index}`);
    }
 